body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #827e7e;
}

nav ul {
	width: 100%;
	text-align: center;
}

li {
	display: inline;
	font-family: sans-serif;
	color: #ffffff;
	font-size: 30px;
	margin-right: 15px;
}

a {
	text-decoration: none;
	color: white;
}

#header {
	background-color: #373a3a;
	width: 100%;
	top: 0;
}

#pages {
	float: right;
	margin-right: 22%;
	padding: 30px;

}

h1 {
	font-family: Arial;
	font-size: 20px;
	width: 100%;
	height: 50px;
	color: white;
	background-color: #373a3a;
	text-align: center;
	margin-bottom: 0;
}

p {
	font-family: Arial;
	width: 100%;
	font-size: 15px;
	color: white;
	background-color: #373a3a;
	text-align: center;
	margin-top: 0;
}

.slideshow-container {
	width: 100%;
	height: 320px;
	text-align: center;
	margin-bottom: 0;
}

#copyright {
	font-family: Arial;
	width: 100%;
	height: 25px;
	font-size: 15px;
	color: white;
	background-color: #373a3a;
	text-align: center;
	margin: 0px;
	padding: 0px;
	top: 0px;
}

#dateTime {
	font-family: Arial;
	height: 25px;
	width: 100%;
	font-size: 15px;
	color: white;
	background-color: #373a3a;
	text-align: right;
	margin-top: 0px;
	bottom: 0px;
	float: left;
	top: 0px;
}

#mainSection {
	width: 100%;
	height: 410px;
}

#html {
	font-family: Arial;
	width: 45%;
	font-size: 15px;
	color: white;
	background-color: #827e7e;
	float: left;
	margin-bottom: 60px;
	margin-top: 30px;
	text-align: center;
	margin: 2.5%;
}

#css {
	font-family: Arial;
	width: 45%;
	font-size: 15px;
	color: white;
	background-color: #827e7e;
	float: left;
	margin-bottom: 60px;
	margin-top: 30px;
	text-align: center;
	margin: 2.5%;
}

#javascript {
	font-family: Arial;
	width: 45%;
	font-size: 15px;
	color: white;
	background-color: #827e7e;
	float: left;
	text-align: center;
	margin: 2.5%;
}

#python {
	font-family: Arial;
	width: 45%;
	font-size: 15px;
	color: white;
	background-color: #827e7e;
	float: left;
	text-align: center;
	margin: 2.5%;
}

h2 {
	font-family: Arial;
	font-size: 25px;
	margin: 2.5%;
}

h3 {
	font-family: Arial;
	width: 100%;
	font-size: 15px;
	color: #141f1f;
	background-color: #669999;
	text-align: center;
	margin-top: 0;
	padding: 22px 0;
	border: 2px solid green;
}

h4 {
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
}

h5 {
	width: 100%;
	font-family: Arial;
	font-size: 15px;
	margin-left: 10%;
	margin-top: 5%;
}

h6 {
	font-family: sans-serif;
	width: 100%;
	font-size: 15px;
	color: #141f1f;
	text-align: left;
	margin: 5px;
	font-weight: normal;
}

h7 {
	font-family: sans-serif;
	width: 100%;
	font-size: 15px;
	color: #141f1f;
	text-align: left;
	margin: 5px;
}

h8 {
	font-family: Arial;
	width: 100%;
	font-size: 17px;
	color: #141f1f;
	text-align: center;
	margin-left: 25%;
	line-height: 60px;
	margin-bottom: 0;
}

h9 {
	font-family: sans-serif;
	width: 100%;
	font-size: 27px;
	color: #141f1f;
	text-align: center;
	margin: 10%;
}

#contact_us {
	width: 100%;
	margin-left: 35%;
	margin-top: 2%;
}
